@import './vars.css';

* {
	box-sizing: border-box;
}

*::-webkit-scrollbar {
	width: 7px;
	height: 7px;
}

*::-webkit-scrollbar-track {
	background-color: var(--color-bg);
	border-radius: 4px;
}

*::-webkit-scrollbar-thumb {
	background-color: var(--color--primary);
	border-radius: 10px;
	border: 1px solid var(--color-bg);
}

html,
body,
#app {
	position: relative;
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

body {
	position: relative;

	min-width: 320px;
	min-height: 100%;
	height: 100%;

	font-weight: 300;
	font-size: 15px;
	line-height: 1.5;
	font-family: var(--font--primary);
	color: var(--color--gray-30);
	font-style: normal;
	letter-spacing: -0.2px;

	background-color: var(--color-bg);
}

img {
	max-width: 100%;
	height: auto;
}

a {
	text-decoration: none;
	color: var(--color--primary);
}

ul,
li {
	margin: 0;
	padding: 0;
	list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
	padding: 0;
	line-height: 1.5;
}

.app-container {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	/* grid-template-rows: min-content 1fr min-content; */
	overflow-x: clip;
}

.v-h {
	position: absolute;

	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	overflow: hidden;

	border: 0;

	clip: rect(0 0 0 0);
}

.blocked {
	overflow: hidden;
}

.bio__content p {
	margin-bottom: 30px;
}

.button {
	padding: 7px;
	display: block;
	cursor: pointer;
	background-color: var(--color--gray-15);
	border: none;
	border-radius: 4px;

	font-family: var(--font--primary);
	font-style: normal;
	font-weight: 300;
	font-size: 14px;
	line-height: 21px;

	color: var(--color--gray-95);
	cursor: pointer;
	outline: none;

	transition: background-color 0.2s linear;
	--color--icon: var(--color--gray-95);
}

.button:hover,
.button:focus-visible {
	background-color: var(--color--primary);
}

.button:active {
	background-color: var(--color--gray-50);
}

.button--disabled,
.button:disabled,
.button:hover:disabled {
	background-color: var(--color--gray-95);
	color: var(--color--gray-85);
	cursor: auto;
	--color--icon: var(--color--gray-85);
}

.button--cancel {
	background-color: var(--color--gray-95);
	color: var(--color--gray-15);
}

.button--cancel:hover,
.button--cancel:focus-visible {
	color: var(--color--gray-95);
}

.bio__content p:last-of-type {
	margin-bottom: 10px;
}
.bio__content a {
	text-decoration: underline;
	display: inline-block;
	color: var(--color--primary);
	margin: 5px 0;
}
.bio__content a:hover,
.bio__content a:focus-visible {
	opacity: 0.8;
}
.bio__content a:active {
	opacity: 0.6;
}
.bio__content ul {
	margin-bottom: 50px;
}

.bio__content h3 {
	margin-top: 50px;
	margin-bottom: 30px;
	font-size: 24px;
	line-height: 1.5;
	font-weight: 700;
}

.section__content p {
	margin-bottom: 30px;
}
.project__subtitle a {
	display: block;
	margin: 0 auto;
	grid-area: link;
	font-weight: 400;
	text-decoration: underline;
	color: var(--color--primary);
	margin-bottom: 100px;
}
.project__subtitle blockquote {
	display: block;
	box-sizing: border-box;
	width: 100%;
	margin: 0 auto;
	margin-bottom: 100px;
}
.project__subtitle blockquote p {
	font-weight: 300;
	font-size: 15px;
	line-height: 1.5;
	font-family: var(--font--primary);
	color: var(--color--gray-50);
	font-style: normal;
}

.project__subtitle blockquote cite {
	font-weight: 300;
	font-size: 12px;
	line-height: 1.5;
	font-family: var(--font--primary);
	color: var(--color--gray-50);
	font-style: normal;
}

.project__content p {
	margin: 100px 0;
}
.project__content a {
	display: block;
	text-align: center;
	text-decoration: underline;
	color: var(--color--primary);
}

.project__content a:hover,
.project__content a:focus-visible {
	opacity: 0.8;
}

.project__content a:active {
	opacity: 0.6;
}

.project__content h3 {
	font-size: 24px;
	line-height: 1.5;
	font-weight: 700;
	width: 80%;
	margin: 0 auto;
	margin-top: 180px;
}

.project__content img {
	position: relative;
	display: block;
	margin: 0 auto;
	width: 100%;
	max-width: 650px;
	max-height: 650px;
	object-fit: contain;
}

.project__content blockquote {
	display: block;
	box-sizing: border-box;
	width: 80%;
	margin: 30px auto 100px;
}
.project__content blockquote p {
	margin: 0;
	font-weight: 700;
	font-size: 18px;
	line-height: 1.5;
	font-family: var(--font--primary);
	color: var(--color--gray-50);
	font-style: normal;
}
.project__content blockquote cite {
	display: block;
	margin-top: 30px;
	font-weight: 300;
	font-size: 12px;
	line-height: 1.5;
	font-family: var(--font--primary);
	color: var(--color--gray-50);
	font-style: normal;
}

@media (min-width: 768px) {
	.bio__content p {
		margin: 5px auto 30px;
	}
	.bio__content p:last-of-type {
		margin-bottom: 10px;
	}
	.section__content p {
		margin: 0 auto 20px;
	}

	.project__subtitle {
		width: 80%;
		margin-bottom: 120px;
	}

	.project__subtitle a,
	.project__subtitle blockquote {
		margin-bottom: 20px;
	}

	.project__subtitle a:hover,
	.project__subtitle a:focus {
		opacity: 0.8;
	}

	.project__subtitle a:active {
		opacity: 0.6;
	}

	.project__content p {
		width: 80%;
		margin: 150px auto;
	}

	.project__content a {
		width: 80%;
		margin: 20px auto;
	}
}

@media (min-width: 1200px) {
	.bio__content p {
		margin: 15px auto 20px;
		width: 100%;
	}
	.projects__subtitle {
		width: auto;
		margin-bottom: 0;
	}
}
